<!-- head -->
<%- include('partials/header') %>

  <body>
    <!-- Sidebar -->
    <%- include('partials/sidebar') %>

      <!-- Content -->
      <div class="content">
        <h2>Waiters</h2>
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Restaurant</th>
                <th>Image</th>
                <th>Ratings</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% waiters.forEach((waiter, index)=> { %>
                <tr>
                  <td>
                    <%= index + 1 %>
                  </td>
                  <td>
                    <%= waiter.name %>
                  </td>
                  <td>
                    <%= waiter.restaurant_id ? waiter.restaurant_id.name : 'Unknown' %>
                  </td>
                  <td>
                    <img width="120" src="/uploads/waiters/<%= waiter.picture %>" alt="">
                  </td>
                  <td>
                    <%= waiter.ratings.length %>
                  </td>
                  <td>
                    <a onclick="return confirm('Are you sure?')" href="/admin/waiters/<%= waiter._id %>/delete"
                      class="btn-delete">Delete</a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
  </body>

  </html>